* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body, html {
  padding: 3px 3px 3px 3px;

  background-color: #D8DBE2;

  font-family: Verdana, sans-serif;
  font-size: 11pt;
  text-align: center;
}

div.redes-sociais{
  position: absolute;
}

div.main_page {
  position: relative;
  display: table;

  width: 800px;

  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;

  border-width: 2px;
  border-color: #212738;
  border-style: solid;
  background-color: #FFFFFF;
  text-align: center;
}

img{
  width: 20px;
  padding-right: 5px;
  padding-bottom: 0px;
}

a:link, a:visited {
  background-color: #0000FF;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
}

#linkedin:hover, #linkedin:active {
  background-color: #0077B5;
}

#facebook:hover, #facebook:active {
  background-color: #3B5998;
}

#github:hover, #github:active {
  background-color: #000000;
}

#instagram:hover, #instagram:active {
  background-color: #E12770;
}

header{
	text-align: right;
}

h1{
	color: #FFFFFF;
	text-align: center;
	border: thin solid #0000FF;
	background-color: #0000FF;
}

h3{
	color: #FFFFFF;
	text-align: center;
	border: thin solied #6496ED;
	background-color: #6495ED;
}

div.objetivo p{
	text-align: justify;
	padding-bottom: 13px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 20px;
}

p {
	text-indent: 50px;
}

ul {
	padding: 4px 8px 4px 16px;
	text-align: left;
}
li{
  margin-left: 20px;
}
